<div class="container">
    <h1 class="lead">Login</h1>
      <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
      <form ng-submit="lc.login()">
        <div>
            <label for="username">Username:</label>
            <input type="text" ng-model="lc.user.username" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" ng-model="lc.user.password" />
        </div>
        <div>
                <!-- <md-button type="button" class="btn btn-warning teal" style="font-size : 20px" onclick="location.href = '#/edit';">Edit Existing Form</md-button> -->
                
            <input class="btn btn-default" type="submit" name="submit" value="Log In" />
        </div>
      </form>
  </div>

